/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
    --rainbow: linear-gradient(-45deg, red, orange, yellow, green, blue, indigo, violet);
    /* noirish tones */
    /* --primaryColor: #444444;
  --secondaryColor: #ffdd67;
  --tertiaryColor: #535945; */
    /* jazz tones */
    /* --primaryColor: #2a7e90;
  --secondaryColor: #165120;
  --tertiaryColor: #031138;
  --quaternary: #013c40; */
    /* autumn in vermont */
    --primaryColor: #1e434c;
    --secondaryColor: #c99e10;
    --tertiaryColor: #9b4f0f;
    --quaternary: #8d230f;
}

html {
    box-sizing: border-box;
    font-family: monospace;
    background: var(--primaryColor);
    color: var(--secondaryColor);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.yo-globe {
    min-height: 100vh;
    display: grid;
    position: relative;
    grid-gap: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas:
        "m m m m m m m m m m m m"
        "c c c c c c c c c c c c"
        "l l l l l l l l l l l l";
}

/* ~~~~~~~~~~~~~~ */
/* navigation full page menu */
/* ~~~~~~~~~~~~~~ */
.overlay {
    height: calc(100vh);
    width: 0;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    overflow-x: hidden;
    transition: 1s;
    font-size: 2rem;
}

.overlay:active .fa {
    color: var(--primaryColor);
}

/* ~~~~~~~~~~~~~~ */
/* position of the navigation links inside the overlay */
/* ~~~~~~~~~~~~~~ */
.overlay-content {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 25%;
    display: inline-block;
    margin: auto;
    text-align: center;
}

/* ~~~~~~~~~~~~~~ */
/* navigation links inside the overlay */
/* ~~~~~~~~~~~~~~ */

.exit {
    /* border: solid black; */
    grid-area: m;
    display: inline-flex;
    float: right;
    font-size: 3rem;
    top: 0;
}

.overlay a {
    padding-bottom: 8px;
    text-decoration: none;
    font-size: 36px;
    color: var(--primaryColor);
    display: block;
    transition: 0.3s;
}

.menu {
    /* border: solid black; */
    grid-area: m;
    display: inline-flex;
    margin-left: auto;
    font-size: 3rem;
    top: 0;
    right: 0;
}

/* ~~~~~~~~~~~~~~ */
/* center for content */
/* ~~~~~~~~~~~~~~ */
.center {
    border: solid black;
    grid-area: l;
    position: absolute;
    width: calc(100vw - 90px);
    height: calc(100vh - 40px);
    top: 40px;
    transform: translate(-50%, -100%);
    overflow: scroll;
}

/* ~~~~~~~~~~~~~~ */
/* bottom links */
/* ~~~~~~~~~~~~~~ */
.links {
    /* border: solid black; */
    position: absolute;
    width: 40px;
    height: calc(100% - 40px);
    top: 40px;
    right: 5px;
    z-index: 2;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

.links img {
    bottom: 0;
    height: 40px;
    cursor: pointer;
}

.fa {
    color: var(--secondaryColor);
    z-index: 2;
}